[motor_constants mt-1704hsm168re]
# Coil resistance, Ohms
resistance: 1.65
# Coil inductance, Henries
inductance: 0.0028
# Holding torque, Nm
holding_torque: 0.43
# Nominal rated current, Amps
max_current: 1.68
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 400

[autotune_tmc stepper_x]
motor: mt-1704hsm168re
sg4_thrs: 125
voltage: 25

[autotune_tmc stepper_y]
motor: mt-1704hsm168re
sg4_thrs: 125
voltage: 25