#########################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  AUTOCREATED WITH KIAUH  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
#########################################################################################
# Those are the recommended macros and config entries if you use Mainsail or Fluidd!    #
# Feel free to edit or delete those macros if you already have them defined elsewhere!  #
#########################################################################################

[respond]

[gcode_macro RESET_VELOCITY]
gcode:
  {% set config_accel = printer.configfile.config.printer.max_accel|int %}
  {% set config_decel = printer.configfile.config.printer.max_accel_to_decel|int %}
  {% set config_velocity = printer.configfile.config.printer.max_velocity|int %}
  SET_VELOCITY_LIMIT ACCEL={config_accel} ACCEL_TO_DECEL={config_decel} VELOCITY={config_velocity}

[gcode_macro QUERY_VELOCITY]
gcode:
  {% set accel = printer.toolhead.max_accel|int%}
  {% set decel = printer.toolhead.max_accel_to_decel|int%}
  {% set velocity = printer.toolhead.max_velocity|int%}
  RESPOND MSG='CURRENT: ACCEL={accel} ACCEL_TO_DECEL={decel} VELOCITY={velocity}'
  {% set config_accel = printer.configfile.config.printer.max_accel|int %}
  {% set config_decel = printer.configfile.config.printer.max_accel_to_decel|int %}
  {% set config_velocity = printer.configfile.config.printer.max_velocity|int %}
  RESPOND MSG='DEFAULT: ACCEL={config_accel} ACCEL_TO_DECEL={config_decel} VELOCITY={config_velocity}'

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    END_TIMELAPSE
    TURN_OFF_HEATERS
    M107 ; turn off fan
    G28
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 0.5
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your min posion from your printer.cfg
    {% set y_park = printer.toolhead.axis_minimum.y|float %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float - 5.0 %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if (act_z + 20) < (max_z - 2.0) %}
        {% set z_safe = 20 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{z_safe} F900
    G90
    G1 X0 Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### end of definitions #####
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state
    BASE_RESUME

#########################################################################################
#########################################################################################
