[gcode_macro M204]
description: Set and limit acceleration to cfg value
rename_existing: M204.1
gcode:
  #####  get accel from parameter  #####
  {% if 'S' in params and params.S|float > 0 %}
      {% set param_accel = params.S|float %}
  {% elif 'P' in params and 'T' in params and params.P|float > 0 and params.T|float > 0 %}
    {% if params.P|float > params.T|float %}    
      {% set param_accel = params.T|float %}
    {% else %}
      {% set param_accel = params.P|float %}
    {% endif %}
  {% endif %}
  #####  get limits from config  #####
  {% set max_accel = printer.configfile.settings.printer.max_accel|float %}
  {% set max_accel_to_decel = printer.configfile.settings.printer.max_accel_to_decel|float %}
  #####  end of definition  #####
  {% if param_accel is defined %}  
    #####  calc accel_to deccel  #####
    {% set param_accel_to_decel = (param_accel) %}
    #####  limit values to config values  ##### 
    {% if param_accel < max_accel %}
      {% set accel = param_accel %}
    {% else %}
      {% set accel = max_accel %}
    {% endif %}
    {% if param_accel_to_decel < max_accel_to_decel %}
      {% set accel_to_decel = param_accel_to_decel %}
    {% else %}
      {% set accel_to_decel = max_accel_to_decel %}
    {% endif %}
    #####  set value  #####
    SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={accel_to_decel} RESPOND=0
  {% else %}
    {% set get_params = [] %}
    {% for key in params %}
      {% if key is not in ['M'] %}
        {% set get_params = get_params.append(key + params[key]) %}
      {% endif %}
    {% endfor %}
    {action_respond_info("Invalid M204 command \"M204 %s\"" % get_params|join(" "))}
  {% endif %}

[gcode_macro QUERY_STATE]
gcode:
  RESPOND MSG={printer.idle_timeout.state|lower}

[gcode_macro QUERY_PAUSE]
gcode:
  RESPOND MSG={printer.pause_resume.is_paused|lower}

[gcode_macro M106]
description: Set and limit fan speed to cfg value. fixspeed should be set to -1 to disable
variable_minspeed: 0
variable_maxspeed: 255
variable_fixspeed: -1
rename_existing: M106.1
gcode:
  {% if 'MIN' in params %}
    {% set minspeed = params.MIN|int %}
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=minspeed VALUE={minspeed}
  {% endif %}

  {% if 'MAX' in params %}
    {% set maxspeed = params.MAX|int %}
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=maxspeed VALUE={maxspeed}
  {% endif %}

  {% if 'F' in params %}
    {% set fixspeed = params.F|int %}
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=fixspeed VALUE={fixspeed}
  {% endif %}

  {% if 'RESET' in params %}
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=minspeed VALUE=0
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=maxspeed VALUE=255
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=fixspeed VALUE=-1
  {% endif %}

  {% if fixspeed >= 0 %}
    M106.1 S{fixspeed}
  {% elif 'S' in params %}
    {% set speed = params.S|default(0)|int %}
    {% if speed > 0 %}
      {% if speed < minspeed %}
        M106.1 S{minspeed}
      {% else %}
        {% if speed > maxspeed %}
          M106.1 S{maxspeed}
        {% else %}
          M106.1 S{speed}
        {% endif %}
      {% endif %}
    {% else %}
      M106.1 S0
    {% endif %}
  {% endif %}
